version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: invoice-postgres
    environment:
      POSTGRES_DB: invoice_db
      POSTGRES_USER: invoice_user
      POSTGRES_PASSWORD: invoice_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - invoice-net

networks:
  invoice-net:
    driver: bridge

volumes:
  pgdata:
