version: "3.9"

services:
  postgres-primary:
    image: postgres:15
    container_name: pg-primary
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: invoice_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    command: >
      postgres
      -c wal_level=replica
      -c max_wal_senders=10
      -c max_replication_slots=10
      -c listen_addresses='*'
    volumes:
      - primary_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-replica:
    image: postgres:15
    container_name: pg-replica
    ports:
      - "5433:5432"
    depends_on:
      postgres-primary:
        condition: service_healthy
    environment:
      POSTGRES_PASSWORD: replpass
    volumes:
      - replica_data:/var/lib/postgresql/data
    command: >
      bash -c "
          rm -rf /var/lib/postgresql/data/*;
          until pg_basebackup -h postgres-primary -p 5432 -U repl -D /var/lib/postgresql/data -Fp -Xs -P -R;
          do
            echo 'Waiting for primary...';
            sleep 3;
          done;
          chown -R postgres:postgres /var/lib/postgresql/data;
          chmod 0700 /var/lib/postgresql/data;
          exec gosu postgres postgres
        "

  redis:
    image: redis:7
    container_name: invoiceRepo-redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redisdata:/data
    networks:
      - invoice-net

networks:
  invoice-net:
    driver: bridge

volumes:
  primary_data:
  replica_data:
  redisdata:
